

.App {
  text-align: center;
  margin: -20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.turtle-logo {
  height: 40vmin;
  pointer-events: none;
  
}
@media (prefers-reduced-motion: no-preference) {
  .turtle-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-top: 40px;
}

.turtle-App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("C:/Code/cohort3/react-02/src/components/ocean.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.myHeader {
  background-color: #536280;
  height: 120px;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  justify-items: center;


}

.header-logo {
  height: 85px;
  /* padding: 17px; */
  outline: none;
  align-self: center;

  
}

@keyframes App-logo-rev-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.header-logo-invert {     
  height: 85px;
  padding: 7px;
  filter: invert(100%);
  outline: none;
  align-self: center;

}

.header-logo-invert:hover {
  animation-name: App-logo-rev-spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.header-logo:hover {
  animation-name: App-logo-rev-spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.myButton {
  background: none;
  height: 120px;
  border: none;
}

/* vvvvvvvvvvv   tictactoe css   vvvvvvvvvvv */
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left:30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(121,113,243);
  background: radial-gradient(circle, rgba(121,113,243,1) 0%, rgba(148,187,233,1) 100%);  font-weight: bold;
  border: 3px solid black;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 135px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
.moveButton {
  background-color:#005eff;
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
  padding:14px ;
  width: 190px;
	text-decoration:none;
  text-shadow:0px 1px 0px #283966;
}
.moveButton:hover {
	background-color:#00aeff;
}


/* vvvvvvvvvvv---  accounts css   ---vvvvvvvvvvvv */

.myHeading {
    font-size: 3.5em;
    background-color: #BFE1FF;
    padding: 30px;
    border-bottom: #784132;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.addAccountSection {
    background-color: #87C7FF;
    padding: 20px;
    font-size: 1.5em;
    line-height: 1.7;
}

.addNewAccountCard {
    margin: 0 auto;
    background-color: #BFE1FF;
    border: #784132;
    border-radius:19px;
    width: 75%;
    min-width: 400px;
    padding: 20px;
}

.buttonDiv {
    padding: 35px;
}
.buttons {
    margin: 5px;
	background-color:#FE8205;
	border-radius:19px;
	border:2px solid #FA5D0F;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-size:20px;
	padding:13px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ff8800;
}
.buttons:hover {
	background-color:#FA5D0F;
}
.buttons:active {
	position:relative;
	top:1px;
}

.myAccountCards {
    background-color:#05a2f0;
    /* min-height: 400px; */
    height: auto;
    display: grid;
    /* grid-area: 3 / 4 / 6 / 5; */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    


}

.cards {
    background-color: rgba(185, 227, 247, 0.89);
    border: white solid;
    border-radius:19px;
    padding: 10px;
    height: auto;

}


.accountCardHeader {
    font-size: 1.6em;
    font-weight: bold;
    padding: 8px;
}

.accountCardBalance {
    padding: 15px;
}
.amountInput {
    margin: 10px;
    padding: 5px;
     font-size: 16px;
     border-width: 1px;
     border-color: #ffffff;
     background-color: #ffffff;
     color: #000000;
     border-style: double;
     border-radius: 2px;
     box-shadow: 0px 0px 5px rgba(8,160,232,.75);
     text-shadow: 0px 0px 0px rgba(66,66,66,.95);
}
