html {
    font-size:62.5%;
    box-sizing: border-box;
    /* background-image: url(/images/moustache.jpg); */
   
    height: 1vh;
    
    
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
.backgroundSpace {
    

}
.calculator {
    border: thick solid black;
    border-radius: 4px;
    position: absolute;
    margin: 20px;
    transform: translate(50% 50%);
 
    width:400px;
}

.result {
    width: 100%;
    height: 100px;
    border: thin black solid;
    border-radius: 1px;
    background-color: #a5f07d;
    color: black;
    text-align: right;
    padding-right 20px;
    padding-left: 10px;
    
}

button {
    height: 60px;
    background-color: rgb(161, 202, 243);
    border: 1px solid rgb(85, 97, 109);
    font-size 2rem;
    color: #333;
    

}

button:hover {
    background-color: rgb(231, 239, 248);
}
.buttons {
    background-image: url(/images/calcbg.jpg);
}
.operation {
    color: black;
    font: bold;
}

.clear {
    background-color: #291d52;
    border-color: #ffffff;
    color: #fff;
}

.clear:hover {
    background-color: #a18cf0;
}

.equal {
    background-color: #07253b;
    border-color: #337cac;
    color: #fff;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
}

.equal:hover {
    background-color: #136199; 
    
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }