.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr; /* how many colm and how big */
    gap: 5px; /* space between squares */
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
    min-height: 100vh;
    
    background: #cd91f2; /* Old browsers */   
    background-image: url('./images/calcedited.png'); 
    background-size: 100% 100%;
    font-family: 'Orbitron', sans-serif;
   
    /* hi */
};



    
@font-face {
    font-family: 'Orbitron', sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Orbitron&display=swap);
  } 
    


.inputbox1 {
    grid-column-start: 2;
    grid-row-start: 3;
    
   
};
.inputbox2 {
    grid-column-start: 3;
   
    grid-row-start: 3;
   
   
};
.inputbox3 {
    grid-column-start: 4;
    
    grid-row-start: 3;
      
};
