html {
    font-size:100%;
    box-sizing: border-box;
    height: 1vh;
    text-align: center;
    padding-top: 75px;
}

*, *::before, *::after {
    /* margin: 1rem; */
    padding: 0;
    box-sizing: inherit;
}

.domBox {
    border: 2px solid black;
    width: 50%;
    margin: 0 auto;
    
}

.title {
    font-size: 3em;
    padding: 15px;
    padding-bottom: 30px;
}

.orderedList {
    text-align: left;
    padding-left: 25%;
    font-size: 1.2em;
}

.buttons {
    padding: 20px;
}

.domButtons {
	background-color:#7892c2;
	border-radius:6px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	padding:11px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.domButtons:hover {
	background-color:#476e9e;
}