html {
    font-size:100%;
    box-sizing: border-box;
    height: 1vh;
    text-align: center;
    padding-top: 75px;
    background-color: rgb(165, 248, 248);
    
}

*, *::before, *::after {
    /* margin: 1rem; */
    padding: 0;
    box-sizing: inherit;
}

.domBox {
    border: 2px solid black;
    width: 400px;
    /* height: 400px; */
    padding: 20px;
    margin: 25px;
    background-color: beige;
    /* overflow-y: auto; */
    
}

.insideBoxes {
    border: 2px solid black;
    padding: 50px;
    margin: 25px;
    
}

