html {
    font-size:100%;
    box-sizing: border-box;
    height: 1vh;
    text-align: center;
    padding-top: -0px;
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(50, 176, 235);
}



.myHeading {
    font-size: 3.5em;
    background-color: rgba(135, 201, 231, 0.89);
    padding: 30px;
    border-bottom: white solid;
    border-radius: 5px;

}
.addAccountSection {
    background-color: rgba(50, 176, 235, 0.89);
    padding: 20px;
    font-size: 1.5em;
    line-height: 1.7;
}

.addNewAccountCard {
    margin: 0 auto;
    background-color: rgba(185, 227, 247, 0.89);
    border: white solid;
    border-radius:19px;
    width: 75%;
    min-width: 400px;
    padding: 20px;
}

.buttonDiv {
    padding: 35px;
}
.buttons {
    margin: 5px;
	background-color:#ff8800;
	border-radius:19px;
	border:2px solid #ff9d2c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	padding:13px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ff8800;
}
.buttons:hover {
	background-color:#4357ee;
}
.buttons:active {
	position:relative;
	top:1px;
}

.myAccountCards {
    background-color: rgba(50, 176, 235, 0.89);
    /* min-height: 400px; */
    height: auto;
    display: grid;
    /* grid-area: 3 / 4 / 6 / 5; */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    


}

.cards {
    background-color: rgba(185, 227, 247, 0.89);
    border: white solid;
    border-radius:19px;
    padding: 10px;
    height: auto;

}


.accountCardHeader {
    font-size: 1.6em;
    font-weight: bold;
    padding: 8px;
}

.accountCardBalance {
    padding: 15px;
}


/* .accountContainer {
    border: 2px solid  #7892c2;
    width: 75%;
    height: auto;
    background-color: #9abaf7;
    margin: 0 auto;
    animation: fade 2s 1;

}

.heading {
    animation: fade 2s 1;
    font-size: 2.5em;
    padding: 35px;
    text-decoration: underline;
}
.two {
    text-decoration: none;
    font-size: 1.5em;
    padding-top: 0px;

}

.infoLines {
    animation: fade 2s 1;
    padding: 30px;
    font-size: 1.2em;
}
.myButtons {
    height: 30px;
	background-color:#535fdb;
	border-radius:7px;
	border:1px solid #29298f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 19px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f34d4;
}
.myButtons:hover {
	background-color:#2a35b0;
}
.myButtons:active {
	position:relative;
	top:1px;
}
.depositLineContainer {
    padding: 10px;
    line-height: 200%;
}

.withdrawlLineContainer {
    padding: 10px;
    line-height: 200%;
} */